.portfolioTitle{
    height: 330px;
}
.sectionPortfolio{
    margin-top: 0px;
    margin-bottom: 50px;
    height: auto;
}
.loader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}